<div class=" filter">
    <div class="text-center " >
    <img src="../../../assets/images/filter1.jpg" alt="" srcset="">
    <p>
        <a class="btn btn-link text-dark f" routerLink="mobile">{{filterdata.type1}}</a>
       </p> 
    </div>
    <div class="text-center">
        <img src="../../../assets/images/filter2.png" alt="" srcset="">
        <p>
            <a class="btn btn-link text-dark f" routerLink="">{{filterdata.type2}}</a>
           </p> 
    </div>
    <div class="text-center">
        <img src="../../../assets/images/filter3.png" alt="" srcset="">
       <p>
        <a class="btn btn-link text-dark f" routerLink="home">{{filterdata.type3}}</a>
       </p> 
    </div>
</div>


